<% include partials/header %>      
          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-3 text-center">Todo List!</h1>
              <p class="text-center">This is a simple todo list app written in Node</p>
            </div>
          </div>

          <!-- Todo List Container -->
          <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-12">
                            <textarea ng-model="mainCtrl.input.todo" rows="3" class="form-control" type="text" placeholder="Todo" id="todo"></textarea>
                            <button ng-click="mainCtrl.addTodo()" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <table class="table table-responsive">
                        <thead>
                            <th>Todo</th>
                            <th col-span="2">Actions</th>
                        </thead>
                        <tbody ng-repeat="todo in mainCtrl.todos">
                            <td>{{todo}}</td>
                            <td><button ng-click="mainCtrl.editButton($index)" class="btn btn-warning">Edit</button><button ng-click="mainCtrl.deleteTodo($index)" class="btn btn-danger">Delete</button></td>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
      
          
          <hr>
<% include partials/footer %>
